{% extends 'layout.html' %}

{% block title %}Viewuser{% endblock %}

{% block content %}
<h2>Member Details</h2>
<div>
    <p>{{ member['username'] }}'s account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ member['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ member['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ member['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
